[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ
Comment=
Exec=/opt/idea/intellij/bin/idea.sh
Icon=/opt/idea/intellij/bin/idea.png
Path=
Terminal=false
StartupNotify=false